################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyMorApi/bin/Debug/net9.0
/.vs
/MyMorApi/obj
/MyMorApi/bin/Release/net9.0
